body {
    font-family: 'Oswald', sans-serif !important;
    background-color:LightSteelBlue;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .tCenter {
      text-align: center;
  }